{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/meatballs.jpeg') }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Author</a>
            </div>
            <h2><a class="article-title" href="#">{{ post.food }}</a></h2>
            <p class="article-content">Time: {{ post.time }}</p>
            <p class="article-content">Temperature: {{ post.temperature }}  °C</p>
          </div>
        </article>
    {% endfor %}
    
{% endblock content %}